<phpunit colors="true" stopOnError="false">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="config">
            <file>tests/Config/DatabaseTest.php</file>
        </testsuite>
        <testsuite name="app">
            <directory>tests/App</directory>
        </testsuite>
    </testsuites>
</phpunit>